<div class="card">
  <div class="card-header">
    <div>
      {{user.username}}
      {{content}}
      {{comment_text}}

    </div>
  </div>
</div>

<div class="card" id="comment">
  <h3 class="card-header new-post">Create New Comment</h3>
  <form class="card-body new-post-form" id="new-post-form">
    <div>
      <textarea name="content" id="new-comment" cols="50" rows="5"></textarea>
    </div>
    <br />
    <button type="submit" class="btn btn-light">Submit</button>
  </form>
</div>

<script src="/js/comment.js"></script>
<script src="/js/logout.js"></script>