<div class="card">
  <div class="card-header flex-row justify-space-between">
    <div>
      <h4><a href="/post/{{id}}">{{title}}</a> from {{user.username}} </h4>
      {{content}}
    </div>
  </div>
</div>
<script src="/js/logout.js"></script>