
<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
<a class="navbar-brand" id="logout" href="/">Logout</a>
</nav>

<div class="card">
  <div class="card-header">
    <h4>Please come back later to check your post</h4>

    <div>
      {{user.username}}
      {{content}}

    </div>

  </div>
</div>