<div class="card">
  <div class="card-header">
    <div>
      {{!-- {{user.username}} --}}
      <div>
        Title :
        {{title}}
      </div>
      {{content}}
      <a href="/edit/{{id}}"><button class="btn btn-link" type="submit">Edit
          Post</button></a>
    </div>
  </div>
</div>