<div class="card">
  <div class="card-header">
    <div>
      {{user.username}}
      {{content}}
      {{! create a button here which will take user to post which shows the comment }}
      <a href="/edit/{{id}}">Go to Post</a>
    </div>

  </div>
</div>