<div>
  <div>
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->

    <h1>{{posts.title}}</h1>
    <H2>{{posts.content}}</H2>
    {{!-- <h3>{{posts.comments}}</h3> --}}

     {{#each posts.comments as |comment| }}
      {{> allcomments comment}}
      {{/each}}
  </div>
</div>