<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <a class="navbar-brand" href="#">Post</a>
  <a class="navbar-brand" href="#">Login</a>
  <a class="navbar-brand" href="#">Logout</a>
</nav>

<div>
  <div>
    <!-- Below we are rendering the name of one dish using a Handlebars.js expression -->

    <h1> Site under maintenance please visit later</h1>

  </div>
</div>

{{!-- {{#each posts as |post|}}{{/each}} --}}