:root {
  --primary: #eae7dc;
  --secondary: #d8c3a5;
  --tertiary: #e98074;
  --light-dark: #6f6866;
  --dark: #38302e;
  --darkred: #1c0702;
  --border-radius: 0.3rem;
  --new: #8f827f;
}

* {
  max-width: auto;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

nav {
  color: black;
}

#navbar {
  height: 100px;
  font-size: 25px;
  justify-content: left;
  background-color: var(--dark);
}

.navbar-brand {
  color: whitesmoke;
}

a,
h3 {
  color: var(--darkred);
}

.hero {
  color: var(--primary);
  text-align: left;
  box-sizing: 100%;
}

.app-title {
  font-size: 40px;
  color: var(--darkred);
  background-color: var(--primary);
  padding: 10px 10px;
  margin-bottom: 20px;
}

.card {
  margin: 0 0 20px 0;
  border: 2px solid var(--dark);
  border-radius: var(--border-radius);
  max-width: 90%;
  margin-left: 5%;
}

.card-header {
  color: var(--primary);
  background-color: var(--new);
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

#comment {
  background-color: var(--primary);
}

.btn-link {
  color: #2712e4;
}

.btn:hover {
  color: var(--primary);
  background-color: var(--tertiary);
  transform: translate(0, 0);
  box-shadow: 2px 2px var(--dark);
}

@media (max-width: 490px) {
  textarea {
    float: left;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 770px) {
  textarea {
    float: left;
    width: 100%;
    height: auto;
  }
}
